{% load static from staticfiles %}
{% load i18n %}
<!doctype html>

<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ownCRM{% if page_title %} - {{ page_title }}{% endif %}</title>
    <meta name="description" content="ownCRM">
    <meta name="author" content="@xupisco">
    <link rel="icon" type="image/png" href="{% static 'images/logo_ico.png' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/flatly_bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" />

    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}" />
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

    <script src="{% static 'js/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    {% block js %}
    {% endblock %}

    <script type="text/javascript">
    $(function() {
        $('#icon_clear').click(function() {
            vlogs.q = '';
        });

        Mousetrap.bind('/', function(e) {
            e.preventDefault();
            $('#q').focus();
        });

        Mousetrap.bind(['esc', 'escape'], function(e) {
            e.preventDefault();
            vlogs.q = '';
            $('#q').blur();
        });

        $('.big_error_message_container').click(function() {
            $('html, body').css({
                'overflow-y': 'scroll'
            });
            $(this).addClass('hidden');
            //document.location.reload();
        })
    })

    function showError() {
        $('html, body').css({
            'overflow-y': 'hidden'
        });
        $('.big_error_message_container').removeClass('hidden');
    }
    </script>

</head>
<body>

<div class="big_error_message_container hidden">
<div class="big_error_message">{% trans "Ouch! Somethig went wrong..." %}</div>
</div>

<div id="vue_app">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">ownCRM</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">{% trans "Logs" %}</a></li>
                    <li><a href="/people">{% trans "People" %}</a></li>
                    <li><a href="/companies">{% trans "Companies" %}</a></li>
                    <li><a href="/calendar">{% trans "Calendar" %}</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input id="q" type="text" v-model="q" class="form-control mousetrap" placeholder="{% trans "Type anything..." %}">
                    </div>
                    <div id="icon_clear" class="glyphicon glyphicon-remove" aria-hidden="true"></div>
                </form>
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.get_full_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu user_options_header">
                            {% if request.user.socialaccount_set.all %}
                                <li class="dropdown-header"><img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" class="pull-left user_avatar_menu" /></li>
                            {% else %}
                                <li class="dropdown-header"><img src="{% static 'images/avatar_not-found.gif' %}" class="pull-left user_avatar_menu" /></li>
                            {% endif %}
                            <li class="dropdown-header"></li>
                            <li><a href="/user/"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;+ Log</a></li>
                            <li><a href="/user/tributes/"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;+ Person</a></li>
                            <li><a href="/user/tributes/"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;+ Company</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Sair</a></li>
                            {% if request.user.is_staff %}
                                <li role="separator" class="divider"></li>
                                <li><a href="/admin/" target="_blank" class="text-success"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Admin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% else %}
                <a href="#" class="btn btn-info navbar-btn navbar-right">{% trans "Login" %}</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="logo_type"><a href="https://github.com/xupisco" target="_blank">@xupisco</a></div>
            <p class="text-muted">
                {% now 'Y' as current_year %}
                {% blocktrans %}
                    Política de Privacidade e Segurança - Termos e Condições de Uso | Todos os direitos reservados, @xupisco {{ current_year }}©
                {% endblocktrans %}
            </p>
        </div>
    </footer>
</div>

{% block js_footer %}
{% endblock %}


</body>
</html>
