{% load static from staticfiles %}
{% load i18n %}
<!doctype html>

<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-{{ GTM_ID }}');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>logd.me{% if page_title %} - {{ page_title }}{% endif %}</title>
    <meta name="description" content="{{ OG_DESCRIPTION }}">
    <meta name="author" content="@xupisco <xupisco@gmail.com>">
    <link rel="icon" type="image/png" href="{% static 'images/logd_favicon.png' %}" sizes="64x64" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/flatly_bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}" />

    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.css' %}" />
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

    <script src="{% static 'js/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script src="{% static 'js/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>

    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    {% block opengraph %}
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% trans "logd.me" %}" />
    <meta property="og:description" content="{% trans "Your personal and friendly life log." %}" />
    <meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/images/logd_og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="fb:app_id" content="275326609531649" />
    {% endblock %}

    {% block js %}
    {% endblock %}

    <script type="text/javascript">
    var clipboard;
    var dropzone;

    $(function() {
        $(window).scroll(function() {
            if($(window).scrollTop() > 20) {
                $('.navbar').addClass('nav_shadow');
            } else {
                $('.navbar').removeClass('nav_shadow');
            }

            $('#icon_clear').click(function() {
                vue.q = '';
            });
        });

        clipboard = new Clipboard('.clipboard');
        clipboard.on('success', function(e) {
            hideTooltip(e.trigger)
        });

        Mousetrap.bind('/', function(e) {
            if($(':focus').attr('id') != "q") {
                e.preventDefault();
                $('#q').focus();
            }
        });

        Mousetrap.bind(['esc', 'escape'], function(e) {
            e.preventDefault();
            vue.q = '';
            $('#q').blur();
        });

        $('.big_error_message_container').click(function() {
            $('html, body').css({
                'overflow-y': 'scroll'
            });
            $(this).addClass('hidden');
            //document.location.reload();
        })
    })

    function hideTooltip(btn) {
        setTimeout(function() {
            $('.clipboard').tooltip('hide');
        }, 1000);
    }

    function showError() {
        $('html, body').css({
            'overflow-y': 'hidden'
        });
        $('.big_error_message_container').removeClass('hidden');
    }
    </script>

    <style type="text/css">
        body { padding-top: 80px; }
        [v-cloak] { display: none; }
    </style>

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-{{ GTM_ID }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block fb_code %}
{% endblock %}

<div class="msg_success_newlog hidden">
{% trans "Log successfully saved!" %}
</div>

<div class="msg_success_newperson hidden">
{% trans "Person successfully saved!" %}
</div>

<div class="msg_success_newcompany hidden">
{% trans "Company successfully saved!" %}
</div>

<div class="big_error_message_container hidden">
    <div class="big_error_message">
        <img src="{% static 'images/sad.png' %}" />
        {% trans "Ouch! Something went wrong..." %}
    </div>
</div>

<div id="vue_app">
    {% if not public %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static 'images/logd_logo.png' %}" class="header_logo" /></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/">{% trans "Logs" %}</a></li>
                    <li><a href="/people">{% trans "People" %}</a></li>
                    <li><a href="/companies">{% trans "Companies" %}</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input id="q" type="text" v-model="q" class="form-control mousetrap" placeholder="{% trans "Type anything..." %}">
                        <div id="icon_clear" class="glyphicon glyphicon-remove hidden-xs" aria-hidden="true"></div>
                    </div>

                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.get_full_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu user_options_header">
                            {% if request.user.socialaccount_set.all %}
                                <li class="dropdown-header"><img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" class="pull-left user_avatar_menu" /></li>
                            {% else %}
                                <li class="dropdown-header"><img src="{% static 'images/avatar_not-found.gif' %}" class="pull-left user_avatar_menu" /></li>
                            {% endif %}
                            <li class="dropdown-header"></li>
                            <li><a href="/"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Logs" %}</a></li>
                            <li><a href="/people"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "People" %}</a></li>
                            <li><a href="/companies"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Companies" %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;{% trans "Logout" %}...</a></li>
                            {% if request.user.is_staff %}
                                <li role="separator" class="divider"></li>
                                <li><a href="/admin/" target="_blank" class="text-success"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp;&nbsp;Admin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% else %}
                <a href="/" class="btn btn-warning navbar-btn btn-xs navbar-right">{% trans "Login or create your account..." %}</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="container">
        <div class="row">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    {% if not public %}
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="logo_type"><a href="https://github.com/xupisco" target="_blank"><img src="{% static 'images/logd_logo.png' %}" class="footer_logo" /></a></div>
            <div class="languages"><a href="/set_language/en-us">en-us</a> | <a href="/set_language/pt-br">pt-br</a></div>
            <p class="text-muted">
                {% blocktrans %}This project is opensource, feel free to use and support! <a href="https://github.com/xupisco/logd.me/">Fork me!</a>{% endblocktrans %} at GitHub.
            </p>
        </div>
    </footer>
    {% else %}
    <footer class="footer navbar-fixed-bottom">
        <div class="container">
            <div class="logo_type"><a href="/"><img src="{% static 'images/logd_logo.png' %}" class="footer_logo" /></a></div>
            <div class="languages"><a href="/set_language/en-us">en-us</a> | <a href="/set_language/pt-br">pt-br</a></div>
            <p class="text-muted">
                {% trans "Hi there!" %} {{ log.owner.get_full_name }} {% trans "is using logd.me, it's free... try it today" %}.
            </p>
        </div>
    </footer>
    {% endif %}
</div>

{% block js_footer %}
{% endblock %}


</body>
</html>
