{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% block head %}
    {% endblock head %}
  </head>
  <body content="text/html">
    <!--[if lt IE 9]>
        <p class="browserupgrade">Você esta usando uma versão <strong>antiga</strong> do ser navegador. Por favor acesse <a href="http://browsehappy.com/">e atualize seu navegador</a> e navegue com mais velocidade e segurança.</p>
      <![endif]-->

    {% block navbar %}
    {% endblock navbar %}

    {% block content %}
    {% endblock %}


    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>

