{% extends 'includes/_base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
<script type="text/javascript">
var vue
var first_load = true;;
loadCompanies();

$(function() {
    if($(document).width() > 1280) {
        $('#side_affix').affix();
    }

    $('#form_cancel_update').click(function() {
        clearForm();
        $(this).addClass('hidden');
    });

    $('form#new_company').submit(function() {
        var errors = false;
        $('#error_ncompany_name').hide();

        post_data = {
            'ncompany_name': $('#ncompany_name').val(),
            'ncompany_phone': $('#ncompany_phone').val(),
            'is_update': $('#update_company').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }

        if (post_data.ncompany_name.length < 3) {
            $('#error_ncompany_name').show();
            errors = true;
        }

        if(errors) {
            return false;
        }

        $.post('{% url "core:newcompany" %}', post_data, function(res) {
            if (res.success) {
                clearForm();
                loadCompanies();
                showSuccessMessage();
            } else {
                showError();
            }
        });
        return false;

    });
})

function loadCompanies() {
    $.getJSON('/api/v1/companies/', function(res) {
        vue.companies = res;
        $('#fake_loading').removeClass('icon-spin');

        if(first_load) {
            $('.loader').hide();
            $('.nothing_found').removeClass('hidden');
            first_load = false;
        }
    });
}

function loadSingleCompany(ppl) {
    clearForm(); // Confirm changes!!!
    $('#nlog_header_text').html('{% trans "Loading..." %}');

    $.getJSON('/api/v1/companies/' + ppl + '?raw', function(res) {

        $("#ncompany_name").val(res.name);
        $("#ncompany_phone").val(res.phone);
        $('#update_company').val(res.id);
        $('#form_cancel_update').removeClass('hidden');

        $('#nlog_header_text').html('{% trans "Update company!" %}');
        $('#send_form').html('{% trans "Update..." %}')
    });
}

function showRemoveConfirmation(ppl) {
    $('#actions_for_' + ppl).next('.fordelete').removeClass('hidden');
    $('#actions_for_' + ppl).next('.fordelete').mouseleave(function() {
        $(this).addClass('hidden');
        $('#actions_for_' + ppl).removeClass('hidden');
    });
    $('#actions_for_' + ppl).addClass('hidden');

    $('#actions_for_' + ppl).next('.fordelete').click(function() {
        removeCompany(ppl);
        //$(this).addClass('hidden');
        //$(this).prev('#actions_for_' + ppl).removeClass('hidden');
    });
}

function removeCompany(id) {
    var post_data = {
        'company_id': id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    $.post('{% url "core:removecompany" %}', post_data, function(res) {
        if (res.success) {
            //loadLogs();
            $('#company_' + id).fadeOut();
        } else {
            showError();
        }
    });
}

function clearForm() {
    $('#new_company')[0].reset();
    $('#update_company').val(0);
    $('#error_ncompany_name').hide();
    $('#nlog_header_text').html('{% trans "New company!" %}');
    $('#send_form').html('{% trans "Add company..." %}')
}

function showSuccessMessage() {
    $('.msg_success_newcompany').hide().removeClass('hidden')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(2000).fadeOut();
}
</script>
{% endblock %}

{% block content %}
<div class="col-md-8" id="div_holder" style="min-height: 750px">
    <div class="loader">{% trans "Loading" %}...</div>

    <div class="filtered_results_others" v-show="filteredCompanies.length > 0 && q" v-cloak>
    {% trans "Showing" %} <span class="filtered_count">[[ filteredCompanies.length ]]</span> {% trans "of" %} <span class="total_count">[[ companies.length ]]</span> | <span class="info_clear" v-on:click="{ q = ''; }">{% trans "Reset" %}...</span>
    </div>

    <div class="col-xs-18 col-sm-6 col-md-4" id="div_item" v-for="company in filteredCompanies" v-on:mouseover="activateTooltips()" v-cloak>
        <div class="thumbnail" v-bind:id="'company_' + [[ company.id ]]">
            <h4 class="person_name" style="margin-bottom: 5px;">
                [[ company.name ]]<br />
                <small v-if="company.phone">[[ company.phone ]]</small><small v-if="!company.phone">---</small>
            </h4>
            <div class="company_people">
                <ul class="list-group" style="margin-bottom: 10px; padding-bottom: 5px; position: relative; overflow-y: hidden; overflow-x: hidden;">
                    <li v-for="person in company.people" class="list-group-item croptext clipboard" style="padding-left: 8px; font-size: 13px; padding-bottom: 0px;" v-bind:data-clipboard-text="[[ person.email ]]" title="{% trans "Copied!" %}"><span class="glyphicon glyphicon-user" style="top: 2px; padding-right: 8px;" aria-hidden="true"></span>[[ person.name || '---' ]]</li>
                </ul>
            </div>
            <div style="padding: 4px 2px;">
                <div class="ppl_actions" v-bind:id="'actions_for_' + [[ company.id ]]">
                    <button class="btn btn-success btn-xs" role="button" v-on:click="editCompany([[ company.id ]])">{% trans "Edit" %}</button> <button class="btn btn-default btn-xs" role="button" v-on:click="doSearch(company.name)">{% trans "Logs..." %}</button>
                    <button class="btn btn-danger btn-xs pull-right" role="button" v-on:click="removeCompany([[ company.id ]])">x</button>
                </div>
                <div class="fordelete hidden">
                    <div class="company_delete_conf"><strong>{% trans "Sure?" %}</strong> {% trans "click again..." %}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="" v-if="!filteredCompanies.length && q" v-cloak>
        <div class="thumbnail">
            <div class="caption" style="padding: 10px 20px; background-color: firebrick; color: #fff;">
                    {% blocktrans %}
                    <p>
                    <h3 style="margin: 3px">Oooops, nothing found!</h3>
                    Your search criteria didn't match anything, try using another keywords...
                    </p>
                    {% endblocktrans %}
            </div>
        </div>
    </div>

    <div class="hidden nothing_found" v-show="!companies.length">
        <div class="thumbnail">
            <div class="caption" style="padding: 10px 20px; background-color: firebrick; color: #fff;">
                {% blocktrans %}
                <p>
                <h3 style="margin: 0">Ohhh no!</h3>
                Nothing found... start adding some companies with the form on the right!
                </p>
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div id="side_affix" class="affix">
        <h3 id="nlog_header_text">{% trans "New company!" %}</h3>
        <form id="new_company">
            <div class="form-group">
                <label for="ncompany_name">{% trans "Name" %}</label><div class="form_error pull-right" id="error_ncompany_name"> {% trans 'Required' %}</div>
                <input type="text" class="form-control" id="ncompany_name" >
            </div>
            <div class="form-group">
                <label for="ncompany_phone">{% trans "Phone" %}</label>
                <input type="text" class="form-control" id="ncompany_phone" >
            </div>
            <input type="hidden" id="update_company" value="0" />
            <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-sm btn-warning" id="send_form">{% trans "Add company..." %}</button>
                <button type="reset" id="form_cancel_update" class="btn btn-sm btn-danger pull-right hidden">{% trans "Cancel!" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
vue = new Vue({
    el: '#vue_app',
    delimiters: ["[[", "]]"],
    data: {
        q: '',
        companies: ''
    },
    computed: {
        filteredCompanies() {
            if (!this.companies) return 0;
            var self = this
            return this.companies.filter(function(company) {
                return (
                    (company.name.toLowerCase().indexOf(self.q.toLowerCase()) > -1)
                )
            })
        }
    },
    methods: {
        doSearch: function(txt) {
            document.location.href = '/?q=' + txt;
        },
        editCompany: function(id, ev) {
            loadSingleCompany(id[0][0]);
        },
        removeCompany: function(id, ev) {
            showRemoveConfirmation(id[0][0]);
        },
        activateTooltips: function() {
            $('.clipboard').tooltip({
                trigger: 'click',
                placement: 'bottom',
                container: 'body'
            });
        }
    }
})
</script>
{% endblock %}
