{% extends 'includes/_base-login.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}

{% block content %}
<br /><br />
<div class="col-md-3 peel_like">
    <div class="thumbnail login_card">
        <div class="login_header">
            ownCRM
            <div class="about">{% blocktrans %}Your personal and friendly life log.{% endblocktrans %}</div>
        </div>
        <div class="disclaimer">{% blocktrans %}Don't worry, we don't care who you are... login is just for authentication purposes.{% endblocktrans %}</div>
        <div class="login_providers">
            <a href="{% provider_login_url "facebook" %}" class="btn btn-info navbar-btn btn_login">Facebook</a>
            <a href="{% provider_login_url "google" %}" class="btn btn-info navbar-btn disabled btn_login" alt="Not yet!">Google</a>
            <a href="{% provider_login_url "github" %}" class="btn btn-info navbar-btn  disabled btn_login" alt="Not yet!">GitHub</a>
        </div>
        <div class="opensource">{% blocktrans %}This project is opensource, feel free to use and support! <a href="https://github.com/xupisco/ownCRM/">Fork me!</a>{% endblocktrans %} at GitHub.</div>
    </div>
</div>
{% endblock %}