{% extends 'includes/_base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
<script type="text/javascript">
var vue;
var first_load = true;
loadPeople();

$(function() {
    if($(document).width() > 1280) {
        $('#side_affix').affix();
    }

    $('#nppl_role, #nppl_company').selectpicker({
        style: 'btn-default custom_select',
        size: 6,
        width: '350px',
        liveSearch: true,
        showIcon: true
    });

    $('#new_company').click(function() {
        $(this).hide();
        $('.custom_select_container_company').hide();
        $('#nppl_company_create').removeClass('hidden');
        $('#cancel_new_company').removeClass('hidden');
        $('#nppl_company_new').focus();
    })

    $('#cancel_new_company').click(function() {
        $(this).addClass('hidden');
        $('#new_company').show();
        $('.custom_select_container_company').show();
        $('#nppl_company_create').addClass('hidden');
        $('#cancel_new_company').addClass('hidden');
    })

    $('#new_role').click(function() {
        $(this).hide();
        $('.custom_select_container_role').hide();
        $('#nppl_role_create').removeClass('hidden');
        $('#cancel_new_role').removeClass('hidden');
        $('#nppl_role_new').focus();
    })

    $('#cancel_new_role').click(function() {
        $(this).addClass('hidden');
        $('#new_role').show();
        $('.custom_select_container_role').show();
        $('#nppl_role_create').addClass('hidden');
        $('#cancel_new_role').addClass('hidden');
    })

    $('#form_cancel_update').click(function() {
        clearForm();
        $(this).addClass('hidden');
    });

    $('form#new_person').submit(function() {
        var errors = false;
        $('#error_nppl_name').hide();

        post_data = {
            'nppl_name': $('#nppl_name').val(),
            'nppl_company': $('#nppl_company :selected').attr('value'),
            'nppl_role': $('#nppl_role :selected').attr('value'),
            'nppl_email': $('#nppl_email').val(),
            'nppl_mobile': $('#nppl_mobile').val(),
            'nppl_company_new': $('#nppl_company_new').val(),
            'nppl_role_new': $('#nppl_role_new').val(),
            'is_update': $('#update_person').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }

        if (post_data.nppl_name.length < 3) {
            $('#error_nppl_name').show();
            errors = true;
        }

        if(errors) {
            return false;
        }

        $.post('{% url "core:newperson" %}', post_data, function(res) {
            if (res.success) {
                clearForm();
                loadPeople();
                showSuccessMessage();
            } else {
                showError();
            }
        });
        return false;

    });
})

function loadPeople() {
    $.getJSON('/api/v1/people/', function(res) {
        vue.people = res;
        $('#fake_loading').removeClass('icon-spin');

        if(first_load) {
            $('.loader').hide();
            $('.nothing_found').show();
            first_load = false;
        }
    });
}

function loadSinglePerson(ppl) {
    clearForm(); // Confirm changes!!!
    $('#nlog_header_text').html('{% trans "Loading..." %}');

    $.getJSON('/api/v1/people/' + ppl + '?raw', function(res) {

        $("#nppl_name").val(res.name);

        if(res.company) {
            $("#nppl_company").val(res.company.id).change();
        } else {
            $("#nppl_company").val("0").change();
        }
        if(res.role) {
            $("#nppl_role").val(res.role.id).change();
        } else {
            $("#nppl_role").val("0").change();
        }
        $('#nppl_email').val(res.email);
        $('#nppl_mobile').val(res.mobile);

        $('#update_person').val(res.id);
        $('#form_cancel_update').removeClass('hidden');

        $('#nlog_header_text').html('{% trans "Update person!" %}');
        $('#send_form').html('{% trans "Update..." %}')
    });
}

function showRemoveConfirmation(ppl) {
    $('#actions_for_' + ppl).next('.fordelete').removeClass('hidden');
    $('#actions_for_' + ppl).next('.fordelete').mouseleave(function() {
        $(this).addClass('hidden');
        $('#actions_for_' + ppl).removeClass('hidden');
    });
    $('#actions_for_' + ppl).addClass('hidden');

    $('#actions_for_' + ppl).next('.fordelete').click(function() {
        removePerson(ppl);
        //$(this).addClass('hidden');
        //$(this).prev('#actions_for_' + ppl).removeClass('hidden');
    });
}

function removePerson(id) {
    var post_data = {
        'person_id': id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    $.post('{% url "core:removeperson" %}', post_data, function(res) {
        if (res.success) {
            //loadLogs();
            $('#person_' + id).fadeOut();
        } else {
            showError();
        }
    });
}

function clearForm() {
    $('#new_person')[0].reset();
    $('#error_nppl_name').hide();
    $('#update_person').val(0);
    $('#nppl_company').val('0').change();
    $("#nppl_role").val("0").change();
    $('#nppl_company_new').val('');
    $('#nppl_role_new').val('');
    $('#nlog_header_text').html('{% trans "New person!" %}');
    $('#send_form').html('{% trans "Add person..." %}')
}

function showSuccessMessage() {
    $('.msg_success_newperson').hide().removeClass('hidden')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(2000).fadeOut();
}
</script>
{% endblock %}

{% block content %}
<div class="col-md-8" style="min-height: 150px">
    <div class="loader">{% trans "Loading" %}...</div>
    <div class="col-xs-18 col-sm-6 col-md-4" v-for="person in filteredPeople" v-cloak>
        <div class="thumbnail" v-bind:id="'person_' + [[ person.id ]]">
            <h4 class="person_name">
                [[ person.name ]]<br />
                <small v-if="person.role">[[ person.role.name ]]</small><small v-if="!person.role">---</small>
            </h4>
            <div class="caption" style="margin-top: -20px; min-height: 183px; padding: 0;" v-on:mouseover="activateTooltips()">
                <ul class="list-group">
                    <li class="list-group-item croptext clipboard" v-bind:data-clipboard-text="[[ person.email ]]" title="{% trans "Copied!" %}"><span class="glyphicon glyphicon-envelope" style="top: 2px; padding-right: 8px;" aria-hidden="true"></span>[[ person.email || '---' ]]</li>
                    <li class="list-group-item croptext"><span class="glyphicon glyphicon-earphone" style="top: 2px; padding-right: 8px;" aria-hidden="true"></span>[[ person.mobile || '---' ]]</span></li>
                    <li class="list-group-item croptext"><span class="glyphicon glyphicon-briefcase" style="top: 2px; padding-right: 8px;" aria-hidden="true"></span><span v-if="person.company">[[ person.company.name ]]</span><span v-if="!person.company">---</span></span></li>
                </ul>
                <div style="padding: 8px;">
                    <div class="ppl_actions" v-bind:id="'actions_for_' + [[ person.id ]]">
                        <button class="btn btn-success btn-xs" role="button" v-on:click="editPerson([[ person.id ]])">{% trans "Edit" %}</button> <button class="btn btn-default btn-xs" role="button" v-on:click="doSearch(person.name)">{% trans "Logs..." %}</button>
                        <button class="btn btn-danger btn-xs pull-right" role="button" v-on:click="removePerson([[ person.id ]])">x</button>
                    </div>
                    <div class="fordelete hidden">
                        <div class="ppl_delete_conf"><strong>{% trans "Sure?" %}</strong> {% trans "click again..." %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="!filteredPeople.length && q" v-cloak>
        <div class="thumbnail">
            <div class="caption" style="padding: 10px 20px; background-color: firebrick; color: #fff;">
                {% blocktrans %}
                <p>
                <h3 style="margin: 3px">Oooops, nothing found!</h3>
                Your search criteria didn't match anything, try using another keywords...
                </p>
                {% endblocktrans %}
            </div>
        </div>
    </div>

    <div class="hidden nothing_found" v-show="!people.length">
        <div class="thumbnail">
            <div class="caption" style="padding: 10px 20px; background-color: firebrick; color: #fff;">
                {% blocktrans %}
                <p>
                <h3 style="margin: 0">Ohhh no!</h3>
                Nothing found... start adding some people with the form on the right!
                </p>
                {% endblocktrans %}
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div id="side_affix" class="affix">
        <h3 id="nlog_header_text">{% trans "New person!" %}</h3>
        <form id="new_person">
            <div class="form-group">
                <div class="form-group">
                    <label for="nppl_name">{% trans "Name" %}</label><div class="form_error pull-right" id="error_nppl_name"> {% trans 'Required' %}</div>
                    <input type="text" class="form-control" id="nppl_name" >
                </div>
                <div class="form-group">
                    <a id="new_company" class="label label-warning new_kind pull-right">{% trans "+ new" %}</a>
                    <a id="cancel_new_company" class="label label-danger new_kind pull-right hidden">{% trans "cancel" %}</a>
                    <label for="nppl_company">{% trans "Company" %}</label>
                    <div class="custom_select_container_company">
                    <select class="form-control" id="nppl_company">
                        <option value="0">---</option>
                        {% for company in companies %}
                        <option data-icon="glyphicon-briefcase" value="{{ company.id }}">{{ company.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-inline hidden" id="nppl_company_create">
                        <div class="form-group new_kind_form">
                            <input type="text" class="form-control form-little-full" style="width: 100% !important;" id="nppl_company_new">
                       </div>
                    </div>
                </div>
                <div class="form-group">
                    <a id="new_role" class="label label-warning new_kind pull-right">{% trans "+ new" %}</a>
                    <a id="cancel_new_role" class="label label-danger new_kind pull-right hidden">{% trans "cancel" %}</a>
                    <label for="nppl_role">{% trans "Role" %}</label>
                    <div class="custom_select_container_role">
                    <select class="form-control" id="nppl_role">
                        <option value="0">---</option>
                        {% for role in roles %}
                        <option value="{{ role.id }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="form-inline hidden" id="nppl_role_create">
                        <div class="form-group new_kind_form">
                            <input type="text" class="form-control form-little-full" style="width: 100% !important;" id="nppl_role_new">
                       </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label for="nppl_email" class="col-sm-3 control-label">E-mail</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="nppl_email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="nppl_mobile" class="col-sm-3 control-label">Mobile</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="nppl_mobile">
                    </div>
                </div>
            </div>
            <input type="hidden" id="update_person" value="0" />
            <div style="margin-top: 20px;">
                <button type="submit" class="btn btn-sm btn-warning" id="send_form">{% trans "Add person..." %}</button>
                <button type="reset" id="form_cancel_update" class="btn btn-sm btn-danger pull-right hidden">{% trans "Cancel!" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
vue = new Vue({
    el: '#vue_app',
    delimiters: ["[[", "]]"],
    data: {
        q: '',
        people: ''
    },
    computed: {
        filteredPeople() {
            if (!this.people) return 0;
            var self = this
            return this.people.filter(function(person) {
                return (
                    (person.name.toLowerCase().indexOf(self.q.toLowerCase()) > -1) ||
                    (person.email && person.email.toLowerCase().indexOf(self.q.toLowerCase()) > -1) ||
                    (person.role && person.role.name.toLowerCase().indexOf(self.q.toLowerCase()) > -1) ||
                    (person.company && person.company.name.toLowerCase().indexOf(self.q.toLowerCase()) > -1)
                )
            })
        }
    },
    methods: {
        doSearch: function(txt) {
            document.location.href = '/?q=' + txt;
        },
        editPerson: function(id, ev) {
            loadSinglePerson(id[0][0]);
        },
        removePerson: function(id, ev) {
            showRemoveConfirmation(id[0][0]);
        },
        activateTooltips: function() {
            $('.clipboard').tooltip({
                trigger: 'click',
                placement: 'bottom'
            });
        }
    }
})
</script>
{% endblock %}
