{% extends 'includes/_base.html' %}
{% load i18n %}
{% load static %}

{% block opengraph %}
<meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ log.owner.get_full_name }} @ logd.me" />
<meta property="og:description" content="{% trans "Hi... I just want to share something with you!" %}" />
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}/static/images/logd_og.png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="fb:app_id" content="275326609531649" />
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $('#gotop').click(function() {
        $('html, body').animate({
            scrollTop: 0
        }, 1000);
    })

    hl_hashtags();
})

function hl_hashtags() {
    txt = $('.log_content').html()
    var all_re = /(#[a-z0-9][a-z0-9\-_]*)/ig;
    $('.log_content').html('<p>' + txt.replace(all_re, "<span class='hashtag'>$1</span>") + '</p>');
}
</script>
{% endblock %}

{% block fb_code %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=275326609531649";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block content %}
<style type="text/css">
    body { padding-top: 0; }
    iframe { height: 356px !important; }
</style>

<div class="public_logo_holder hidden-xs"><a href="/"><img src="{% static 'images/logd_logo_negative.png' %}" class="public_logo" /></a></div>

<div class="col-md-8 col-md-offset-2">
    <div class="timeline-centered" id="main_timeline">

        <article class="timeline-entry public">
            <div class="timeline-entry-inner">

                <div class="timeline-icon">
                    <img src="{{ log.owner.socialaccount_set.all.0.get_avatar_url|default:'/static/images/avatar_not-found.gif' }}" class="user_avatar_public" />
                </div>

                <div class="timeline-label public_content">

                    <div class="author">{{ log.owner.first_name }}<span style="font-size: 14px;">, {% trans "said" %}...</span></div>

                    <div style="margin-bottom: 10px;">
                    <span class="log_date">{{ log.start_date | date:"d/m/Y H:i" }}
                        {% if log.end_date %}
                        <span class="log_date_end"> > {{ log.end_date | date:"d/m/Y H:i" }}</span>
                        {% endif %}
                    </span>
                    </div>

                    <div class="log_content">
                    <p>
                    {{ log.body|safe|escape }}
                    </p>
                    </div>

                    <div class="has_labels">
                        {% for company in log.companies.all %}
                        <span class="label label-info">{{ company.name }}</span>
                        {% endfor %}
                        {% for person in log.people.all %}
                        <span class="label label-success ppl_label" data-placement="top">{{ person.name }}</span>
                        {% endfor %}
                        {% for tag in log.hashtags %}
                        <span class="label label-default">#{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>

        <div class="fb_share pull-right">
            <div class="fb-share-button" data-href="" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
        </div>

        <article class="timeline-entry public">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-info">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                </div>

                <div class="timeline-label public_content">
                    <div class="fb-comments" data-href="" data-width="100%" data-numposts="5"></div>
                </div>
            </div>
        </article>

        <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
                <div id="public_square" class="timeline-icon">
                    <span class="glyphicon glyphicon-arrow-up" id="gotop" aria-hidden="true"></span>
                </div>
            </div>
        </article>

    </div>
</div>
{% endblock %}
