{% extends 'includes/_base.html' %}
{% load i18n %}

{% block js %}
<script type="text/javascript">
var vlogs;

$(function() {
    $('.has_enddate').click(function() {
        $('.end_date').toggleClass('hidden');
    });

    $('form#new_log').submit(function() {
        return false;
    });

    $('#fake_reload').click(function() {
        $('#fake_loading').addClass('icon-spin');
        loadLogs();
    });

    $('#side_affix').affix({
        offset: {
            top: 85,
            bottom: function () {
                return (this.bottom = $('.footer').outerHeight(true))
            }
        }
    })

    var simplemde = new SimpleMDE({
        element: document.getElementById('edit'),
        hideIcons: ["side-by-side", "italic", "heading"],
        spellChecker: false,
        status: false,
        tabSize: 4
    });
    loadLogs();
})

function loadLogs() {
    $.getJSON('/api/v1/logs/', function(res) {
        vlogs.logs = res;
        $('#fake_loading').removeClass('icon-spin');
    });
}

function qs(el) {
    vlogs.q = $(el).html();
}
</script>
{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="timeline-centered" id="main_timeline">

        <article class="timeline-entry" v-if="!filteredLogs.length">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-danger">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    {% blocktrans %}
                    <p>
                    <h3 style="margin: 3px">Oooops, nothing found!</h3>
                    Your search criteria didn't match anything, try using another keywords...
                    </p>
                    {% endblocktrans %}
                </div>
            </div>
        </article>

        <article class="timeline-entry" v-for="log in filteredLogs">
            <div class="timeline-entry-inner">

                <div class="timeline-icon" v-bind:class="{ 'bg-secondary': log.reminder }">
                    <span class="glyphicon" v-bind:class="'glyphicon-' + [[ log.kind.glyphicon_name ]]" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    <div class="log_date">[[ log.start_date ]]</div>
                    <p v-html="log.body"></p>

                    <div class="has_companies" v-show="log.companies || log.people">
                        <span class="label label-primary" onclick="qs(this);" v-for="company in log.companies">[[ company.name ]]</span>
                        <span class="label label-success" onclick="qs(this);" v-for="person in log.people">[[ person.name ]]</span>
                    </div>
                </div>
            </div>
        </article>

        <article class="timeline-entry" v-show="!logs.length">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-danger">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    {% blocktrans %}
                    <p>
                    <h3 style="margin: 0">Ohhh no!</h3>
                    Nothing found... start creating your life log with the form on the right!
                    </p>
                    <p><div style="text-align: right; padding-top: 10px; padding-bottom: 0; color: #de2a4a;"><strong>Create things here >>></strong></div></p>
                    {% endblocktrans %}
                </div>
            </div>
        </article>

        <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
                <div id="fake_reload" class="timeline-icon bg-black" style="background: #333;">
                    <span id="fake_loading" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </div>
            </div>
        </article>

    </div>
</div>
<div class="col-md-4">
    <div id="side_affix" class="affix">
        <h3>New log!</h3>
        <form id="new_log">
            <div class="form-group">
                <a id="new_kind" class="label label-warning new_kind pull-right">{% trans "+ new" %}</a>
                <label for="exampleInputEmail1">{% trans "What?" %}</label>
                <select class="form-control" id="exampleInputEmail1" placeholder="">
                    {% for kind in kinds %}
                    <option value="{{ kind.id }}">{{ kind.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">{% trans "When?" %}</label>
                <input type="text" class="form-control" id="new_start_date" placeholder="dd/mm/yyyy hh:mm">
            </div>
            <div class="checkbox">
                <label>
                <input class="has_enddate" type="checkbox"> {% trans "Has end date?" %}
                </label>
            </div>
            <div class="form-group end_date hidden">
                <label for="exampleInputPassword1">{% trans "When ended?" %}</label>
                <input type="text" class="form-control" id="new_end_date" placeholder="dd/mm/yyyy hh:mm">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">{% trans "Description..." %}</label>
                <textarea id="edit" class="form-control mention" rows="4" id="new_body"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="new_reminder"> {% trans "Highlight?" %}
                </label>
            </div>
            <br />
            <button type="submit" class="btn btn-warning">{% trans "Add log..." %}</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
vlogs = new Vue({
    el: '#vue_app',
    delimiters: ["[[", "]]"],
    data: {
        q: '',
        logs: ''
    },
    computed: {
        filteredLogs: function() {
            if (!this.logs) return 0;
            var self = this
            return this.logs.filter(function(log) {
                return (
                    (log.body.toLowerCase().indexOf(self.q.toLowerCase()) > -1) ||
                    (log.meta.toLowerCase().indexOf(self.q.toLowerCase()) > -1) ||
                    (log.start_date.toLowerCase().indexOf(self.q.toLowerCase()) > -1)
                )
            }.bind(this))
        }
    }
});
</script>
{% endblock %}
