{% extends 'includes/_base.html' %}
{% load i18n %}
{% load static %}

{% block js %}
<script type="text/javascript">
var vue;
var db_kinds = {{ kinds.count }};

$(function() {
    $('.has_enddate').click(function() {
        $('.end_date').toggleClass('hidden');
    });

    $('.help_toggle').click(function() {
        $('.help_text').toggleClass('hidden');
    })

    if(!db_kinds) {
        $('#new_kind').hide();
        $('.custom_select_container').hide();
        $('#nlog_kind_create').removeClass('hidden');
        $('#cancel_new_kind').hide();
    }

    $('form#new_log').submit(function() {
        var errors = false;
        $('#error_nlog_start_date').hide();
        $('#error_nlog_body').hide();
        $('#error_nlog_kind').hide();

        if(!db_kinds && !$('#nlog_kind_text').val()) {
            errors = true;
            $('#error_nlog_kind').show();
        }

        post_data = {
            'nkind_text': $('#nlog_kind_text').val(),
            'nkind_icon': $('#nlog_kind_icon').val(),
            'nlog_kind_id': $('#nlog_kind :selected').attr('value'),
            'nlog_start_date': $('#nlog_start_date').val(),
            'nlog_end_date': $('#nlog_end_date').val(),
            'nlog_highlight': $('#nlog_highlight').is(":checked"),
            'nlog_body': tinymce.get('nlog_body_mce').getContent(),
            'is_update': $('#update_log').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }

        if (post_data.nlog_start_date.length < 10) {
            $('#error_nlog_start_date').show();
            errors = true;
        }

        if (post_data.nlog_body.length <= 5) {
            $('#error_nlog_body').show();
            errors = true;
        }

        if(errors) {
            return false;
        }

        $.post('{% url "core:newlog" %}', post_data, function(res) {
            if (res.success) {
                clearForm();
                loadLogs();
                showSuccessMessage();
            } else {
                showError();
            }
        });
        return false;
    });

    tinymce.init({
        selector: 'textarea#nlog_body_mce',
        plugin: 'a_tinymce_plugin',
        plugins: ['code', 'link', 'image, mention, fullscreen'],
        toolbar: 'bold italic | blockquote bullist numlist | link image | fullscreen',
        menubar: false,
        statusbar: false,
        min_height: 200,
        max_height: 300,
        content_css: '{% static "css/custom_tinymce.css" %}',
        mentions: {
            delay: 0,
            source: {{ mentions | safe }},
            strings: {
                'create': "{% trans "Create" %}",
                'as': "{% trans "as" %}",
                'person': "{% trans "Person" %}",
                'company': "{% trans "Company" %}",
            },
            insert: function(item) {
                var it = "person";
                if(item.type == 'company') {
                    it = "company"
                }
                return '<span class="hl_mention_' + it + '" data-id="' + item.id + '">' + item.name + '</span>&nbsp;';
            },
            render: function(item) {
                var email = "";
                var icon = "user";
                if(item.email) {
                    email = ' &lt;' + item.email + '&gt;';
                }
                if(item.type == "company") {
                    icon = "briefcase";
                }
                return '<li>' +
                       '<a href="javascript:;"><span class="glyphicon glyphicon-' + icon + '" aria-hidden="true" style="margin-right: 5px"></span> <span>' + item.name + email + '</span></a>' +
                       '</li>';
            }
        },
        setup: function(ed) {
            ed.on('keydown', function(event) {
                if (event.keyCode == 9) { // tab pressed
                  if (event.shiftKey) {
                    ed.execCommand('Outdent');
                  }
                  else {
                    ed.execCommand('Indent');
                  }

                  event.preventDefault();
                  return false;
                }
            });
        }
    });

    $('#fake_reload').click(function() {
        $('#fake_loading').addClass('icon-spin');
        loadLogs();
    });

    $('#new_kind').click(function() {
        $(this).hide();
        $('.custom_select_container').hide();
        $('#nlog_kind_create').removeClass('hidden');
        $('#cancel_new_kind').removeClass('hidden');
    })

    $('#cancel_new_kind').click(function() {
        $(this).addClass('hidden');
        $('#new_kind').show();
        $('.custom_select_container').show();
        $('#nlog_kind_create').addClass('hidden');
        $('#cancel_new_kind').addClass('hidden');
    })

    $('#side_affix').affix({
        offset: {
            top: 85,
            bottom: 80
        }
    })

    loadLogs();

    $('#nlog_kind_icon').selectpicker({
        style: 'btn-xs',
        size: 6,
        width: 'fit'
    });

    $('#nlog_kind').selectpicker({
        style: 'btn-default custom_select',
        size: 6,
        width: '350px',
        liveSearch: true,
        showIcon: true
    });

    jQuery.datetimepicker.setLocale('pt-BR');
    $('#nlog_start_date').datetimepicker({
        format:'d/m/Y H:i',
        step: 30
    });

    $('#nlog_end_date').datetimepicker({
        format:'d/m/Y H:i',
        onShow:function(ct) {
            this.setOptions({
                minDate: $('#nlog_start_date').val() ? $('#nlog_start_date').val() : false
            })
        },
    });

    $('#form_cancel_update').click(function() {
        clearForm();
        $(this).addClass('hidden');
    });

})

function showRemoveConfirmation(log) {
    $('#confid_' + log).removeClass('hidden');
    $('#confid_' + log).mouseleave(function() {
        $(this).addClass('hidden');
    });

    $('#confid_' + log).click(function() {
        removeLog(log);
        $(this).hide();
    });
}

function loadSingleLog(log) {
    clearForm(); // Confirm changes!!!
    $('#nlog_header_text').html('{% trans "Loading..." %}');

    $.getJSON('/api/v1/logs/' + log + '?raw', function(res) {
        res_start_date = new Date(res.start_date);
        res_end_date = new Date(res.end_date);

        $("#nlog_kind").val(res.kind.id).change();
        $('#nlog_start_date').val(moment(res_start_date).format('DD/MM/YYYY HH:mm'));
        if(res.end_date) {
            $('.has_enddate').attr('checked', true);
            $('#nlog_end_date').val(moment(res_end_date).format('DD/MM/YYYY HH:mm'));
        }
        if(res.reminder) {
            $('#nlog_highlight').prop('checked', true);
        }
        tinymce.get('nlog_body_mce').setContent(res.body);
        $('#update_log').val(res.id);
        $('#form_cancel_update').removeClass('hidden');

        $('#nlog_header_text').html('{% trans "Update log!" %}');
        $('#send_form').html('{% trans "Update..." %}')
    });
}

function loadLogs() {
    $.getJSON('/api/v1/logs/', function(res) {
        vue.logs = res;
        $('#fake_loading').removeClass('icon-spin');
    });
}

function showSuccessMessage() {
    $('.msg_success_newlog').hide().removeClass('hidden')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(100).fadeOut('fast')
        .fadeIn('fast').delay(2000).fadeOut();
}

function removeLog(id) {
    var post_data = {
        'log_id': id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
    }
    $.post('{% url "core:removelog" %}', post_data, function(res) {
        if (res.success) {
            //loadLogs();
            $('#entry_' + id).fadeOut();
        } else {
            showError();
        }
    });
}

function clearForm() {
    $('#new_log')[0].reset();
    $('#error_nlog_body').hide();
    $('.has_enddate').attr('checked', false);
    $('.end_date').addClass('hidden');
    $('#nlog_highlight').attr('checked', false);
    $('#error_nlog_body').hide();
    $('#update_log').val(0);
    $('#nlog_header_text').html('{% trans "New log!" %}');
    $('#send_form').html('{% trans "Add log..." %}')
}

function qs(el) {
    current_content = vue.q
    if(current_content.length) {
        current_content += " "
    }
    vue.q = current_content + $(el).html();
}
</script>
{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="timeline-centered" id="main_timeline">

        <article class="timeline-entry" v-if="!filteredLogs.length && q">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-danger">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    {% blocktrans %}
                    <p>
                    <h3 style="margin: 3px">Oooops, nothing found!</h3>
                    Your search criteria didn't match anything, try using another keywords...
                    </p>
                    {% endblocktrans %}
                </div>
            </div>
        </article>

        <article class="timeline-entry" :id="'entry_' + log.id" v-for="log in filteredLogs">
            <div class="timeline-entry-inner">

                <div class="timeline-icon" v-bind:class="{ 'bg-secondary': log.reminder }" v-bind:title="log.kind.name">
                    <span class="glyphicon" v-bind:class="'glyphicon-' + [[ log.kind.glyphicon_name ]]" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    <div class="log_tools">
                        <span class="glyphicon glyphicon-edit log_tool" v-on:click="editLog([[ log.id ]])" aria-hidden="true"></span></a>
                        <span class="glyphicon glyphicon-remove log_tool tool_delete" aria-hidden="true" v-on:click="removeLog([[ log.id ]])"></span>
                        <div class="remove_confirmation hidden" :id="'confid_' + log.id"><strong>{% trans "Sure?" %}</strong> {% trans "click again..." %}</div>
                    </div>

                    <div style="margin-bottom: 10px;">
                    <span class="log_date">[[ log.start_date | moment ]]
                        <span class="log_date_end" v-if="log.end_date"> > [[ log.end_date | moment ]]</span>
                    </span>
                    </div>
                    <p v-html="hl_hashtags(log.body)"></p>

                    <div class="has_labels" v-show="log.companies.length || log.people.length || log.hashtags.length">
                        <span class="label label-info" onclick="qs(this);" v-for="company in log.companies">[[ company.name ]]</span><span class="label label-success" onclick="qs(this);" v-for="person in log.people" data-toggle="tooltip" data-placement="top" data-html="true">[[ person.name ]]</span><span class="label label-default" onclick="qs(this);" v-for="tag in log.hashtags">#[[ tag ]]</span>
                    </div>

                </div>
            </div>
        </article>

        <article class="timeline-entry" v-show="!logs.length">
            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-danger">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </div>

                <div class="timeline-label">
                    {% blocktrans %}
                    <p>
                    <h3 style="margin: 0">Ohhh no!</h3>
                    Nothing found... start creating your life log with the form on the right!
                    </p>
                    <p><div style="text-align: right; padding-top: 10px; padding-bottom: 0; color: #de2a4a;"><strong>Create things here >>></strong></div></p>
                    {% endblocktrans %}
                </div>
            </div>
        </article>

        <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
                <div id="fake_reload" class="timeline-icon bg-black" style="background: #333;" title="{% trans "Force refresh..." %}">
                    <span id="fake_loading" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </div>
            </div>
        </article>

    </div>
</div>
<div class="col-md-4">
    <div id="side_affix" class="affix">
        <h3 id="nlog_header_text">{% trans "New log!" %}</h3>
        <form id="new_log">
            <div class="form-group">
                <a id="new_kind" class="label label-warning new_kind pull-right">{% trans "+ new" %}</a>
                <a id="cancel_new_kind" class="label label-danger new_kind pull-right hidden">{% trans "cancel" %}</a>
                <label for="nlog_kind">{% trans "What?" %}</label><div class="form_error pull-right" id="error_nlog_kind"> {% trans 'Required' %}</div>
                <div class="custom_select_container">
                <select class="form-control" id="nlog_kind">
                    {% for kind in kinds %}
                    <option data-icon="glyphicon-{{ kind.glyphicon_name }}" value="{{ kind.id }}">{{ kind.name }}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-inline hidden" id="nlog_kind_create">
                    <div class="form-group new_kind_form">
                        <label for="nlog_kind_text">{% trans "Name:" %}&nbsp;&nbsp;</label>
                        <input type="text" class="form-control form-little" id="nlog_kind_text">
                        <label for="nlog_kind_icon">&nbsp;&nbsp;{% trans "Icon:" %} </label>
                        {# <input type="text" class="form-control form-little" id="nlog_kind_icon" placeholder="glyphicon class..." style="width: 110px !important;"><a href="http://getbootstrap.com/components/#glyphicons-glyphs" target="_blank"><span class="glyphicon glyphicon-question-sign glyphicon-helper"></span></a> #}
                        <select class="btn-xs" id="nlog_kind_icon">
                            {% for icon in glyphicon_classes %}
                            <option data-content="<i class='glyphicon glyphicon-{{ icon }}'></i>" value="{{ icon }}"></option>
                            {% endfor %}
                        </select>
                        <a href="http://getbootstrap.com/components/#glyphicons-glyphs" target="_blank"><span class="glyphicon glyphicon-question-sign glyphicon-helper"></span></a>
                   </div>
                </div>
            </div>
            <div class="form-group">
                <label for="nlog_start_date">{% trans "When?" %}</label><div class="form_error pull-right" id="error_nlog_start_date"> {% trans 'Required' %}</div>
                <input type="text" class="form-control" id="nlog_start_date" placeholder="dd/mm/yyyy hh:mm">
            </div>
            <div class="checkbox">
                <label>
                <input class="has_enddate" type="checkbox"> {% trans "Has end date?" %}
                </label>
            </div>
            <div class="form-group end_date hidden">
                <label for="nlog_enddate">{% trans "When ended?" %}</label>
                <input type="text" class="form-control" id="nlog_end_date" placeholder="dd/mm/yyyy hh:mm">
            </div>
            <div class="form-group">
                <label for="nlog_body">{% trans "Description..." %}</label><div class="form_error pull-right" id="error_nlog_body"> {% trans 'Type at least 5 characters' %}</div>
                <textarea class="form-control mention" rows="4" id="nlog_body_mce"></textarea>
                <p class="hint">{% trans "Type '@' to mention people and companies." %}</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="nlog_highlight"> {% trans "Highlight?" %}
                </label>
            </div>
            <input type="hidden" id="update_log" value="0" />
            <div style="margin-top: 20px;">
                <button type="submit" id="send_form" class="btn btn-warning">{% trans "Add log..." %}</button>
                <button type="reset" id="form_cancel_update" class="btn btn-danger pull-right hidden">{% trans "Cancel!" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript">
String.prototype.fuzzy = function(term, ratio) {
    var string = this.toLowerCase();
    var compare = term.toLowerCase();
    var matches = 0;
    if (string.indexOf(compare) > -1) return true; // covers basic partial matches
    for (var i = 0; i < compare.length; i++) {
        string.indexOf(compare[i]) > -1 ? matches += 1 : matches -=1;
    }
    return (matches/this.length >= ratio || term == "")
};

vue = new Vue({
    el: '#vue_app',
    delimiters: ["[[", "]]"],
    data: {
        q: '{{ q }}',
        logs: ''
    },
    computed: {
        filteredLogs: function() {
            if (!this.logs) return 0;
            var self = this
            var localq = self.q.replace('#', '').toLowerCase();
            var ratio = 0.75;
            return this.logs.filter(function(log) {
                return (
                    (log.body.toLowerCase().fuzzy(localq, ratio)) ||
                    (log.meta.toLowerCase().fuzzy(localq, ratio)) ||
                    (moment(log.start_date).format("DD/MM/YYYY").indexOf(localq) != -1)
                )
            }.bind(this))
        }
    },
    methods: {
        editLog: function(id, ev) {
            loadSingleLog(id[0][0])
        },
        removeLog: function(id, ev) {
            showRemoveConfirmation(id[0][0]);
        },
        hl_hashtags: function(txt) {
            var all_re = /(#[a-z0-9][a-z0-9\-_]*)/ig;
            return txt.replace(all_re, "<span class='hashtag'>$1</span>");
        }
    },
    filters: {
        moment: function(date) {
            return moment(date).format('DD/MM/YYYY HH:mm');
        }
    }
});
</script>
{% endblock %}
