@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700';

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

[v-cloak] .v-cloak--hidden {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    font-size: 12px;
    z-index: -1;
}

.login_header {
    font-size: 53px;
    font-family: 'Ubuntu Condensed';
    color: #fff;
    background-color: #333;
    text-align: center;
    height: 150px;
    padding-top: 30px;
}

.peel_like {
    position: absolute;
    top: 24px;
    left: 10px;
    width: 280px;
}

.about {
    margin-top: -15px;
    font-size: 13px;
}

.disclaimer {
    padding: 10px;
    font-size: 14px;
}

.opensource {
    background-color: #eee;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.login_providers {
    text-align: center;
    margin: 5px 0px;
    padding-top: 5px;
}

.login_providers a {
    width: 220px;
    margin: 3px 0;
}


.logo_type {
    float: right;
    font-size: 31px;
    font-family: 'Ubuntu Condensed';
    margin-top: 6px;
    text-align: center;
}

body {
    margin-bottom: 70px;
    /*background-image: url("/static/images/poly_bg.jpg");*/
    background-image: url("/static/images/pw_pattern.png");
    background-repeat: repeat;
}

body.login_bg {
    background-image: url("https://source.unsplash.com/1920x1080");
    background-size: cover;
}

.login_card {
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44);
}

.login_card:hover {
    -webkit-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44) !important;
    -moz-box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44) !important;
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.44) !important;
}

.login_watermark {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 7px;
    color: #f1f1f1;
    font-size: 12px;
}

.breadcrumb {
    margin-top: 12px;
    margin-bottom: 30px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0 1px;
}

img.user_avatar_header {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    border: 3px solid #8b9aa2;
    top: 3px;
    left: -38px;
    position: absolute;
    display: none;
}

img.user_avatar_menu {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 4px solid #8b9aa2;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

a.navbar-brand {
    font-size: 32px;
    letter-spacing: -1px;
    font-family: "Ubuntu Condensed";
    line-height: 18px;
}

.navbar {
    border-radius: 0 !important;
}

.nav_shadow { 
    -webkit-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.72);
    box-shadow: 0px 2px 13px -1px rgba(0,0,0,0.72); 
    transition: box-shadow 0.2s ease-in-out;
 }

.nav_shadow {
}

.navbar-defaulta {
    border-color: #73d6f4;
    background-color: #fff;
}

img.main_logo {
    width: 140px;
    margin-top: -5px;
}

.navbar-form .form-control {
    background-color: #f3f3f3;
    width: 300px;
    border-width: 0;
    height: 35px;
    margin-top: 5px;
    padding: 0 8px;
}

.glyphicon-helper {
    font-size: 15px;
    line-height: 25px;
    float: right;
}

.form-control {
    border-radius: 0 !important;
}

img.footer_logo-lab {
    margin-top: 20px;
}

.thumbnail_old {
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3)

    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3)
}

.thumbnail:hover {
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3)
}


.container .text-muted {
    margin: 22px 0;
}

.calendar_icon {
    margin-top: 91px;
    position: absolute;
    right: 24px;
    font-size: 18px;
}

.calendar_icon:hover {
    cursor: pointer;
}

.end_date {

}

.hidden {
    display: none;
}

.divcontent {
    background-color: #fff;
    padding: 11px;
    padding-bottom: 5px;
}


img.cover_card {
    opacity: .9;
    background-color: #555;
    height: 150px !important;
}

img.avatar_card {
    position: relative;
    margin-top: -70px;
    border-radius: 60px;
    border: 4px solid white;
}

.has_labels {
    margin-top: 10px;
}

.has_labels .label {
    margin-right: 5px;
    display: inline-block;
}

#icon_clear {
    margin-left: 273px;
    margin-top: 18px;
    position: absolute;
    background-color: #f3f3f3;
    padding: 5px 4px;
}

#icon_clear:hover {
    cursor: pointer;
}

.label:hover {
    cursor: pointer;
}

#side_affix {
    position: static;
    margin-top: 0;
    width: 350px;
    margin-bottom: 20px;
}

#side_affix.affix {
    position: fixed !important;
    top: 80px;
    width: 350px;
}

.editor-toolbar {
    background-color: #f1f1f1;
    border-radius: 0 !important;
}

.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

.CodeMirror {
    border-radius: 0 !important;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 150px !important;
    max-height: 320px;
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

.new_kind_form {
    background-color: #fff;
    padding: 7px 11px;
    width: 100%;
    font-size: 12px;
    border: 2px solid #dce4ec;
    border-radius: 0;
}

input.form-little {
    width: 138px !important;
    height: 25px;
    font-size: 12px;
    padding: 0 4px;
    background-color: #ecf0f1;
    display: inline;
}

input.form-little-full {
    width: 100% !important;
    border: 0;
    font-size: 18px;
    padding: 0;
    height: 27px;
}

.icons {

}

.icons li {

}

.custom_select {
    border-radius: 0 !important;
    background-color: #fff;
    border: 2px solid #dce4ec;
    border-radius: 0;
    color: #333;
}

.custom_select:hover, .custom_select:active, .custom_select:focus {
    background-color: #fff !important;
    border-color: #dce4ec;
    color: #333 !important;
    outline: none;
}

.open>.dropdown-toggle.btn-default {
    background-color: #fff !important;
    color: #333 !important;
    border-color: #2c3e50 !important;
}

.custom_select_container .glyphicon, .custom_select_container_company .glyphicon{
    top: 3px !important;
    margin-right: 4px !important;
}

.custom_select_container .open, .custom_select_container_company .open {
    border-radius: 0 !important;
    border: 2px solid;
    border-top: 0;
}

.custom_select_container .open .form-control, .custom_select_container_company .open .form-control {
    border: 0;
    background-color: #f1f1f1;
    padding: 0 8px;
    height: 32px;
    margin-bottom: 4px;
}

.custom_select_container .dropdown-menu, .custom_select_container_company .dropdown-menu {
    margin-top: -3px;
}



.no-results {
    padding: 3px 8px !important;
    background: #ee4749 !important;
    margin: 8px !important;
    white-space: nowrap !important;
    margin-bottom: 5px !important;
    color: #fff !important;
}

.form_error {
    display: none;
    font-weight: bold;
    color: firebrick;
}

.log_tools {
    float: right;
    background-color: #fff;
    color: #999;
    text-align: center;
    margin-left: 6px;
    font-size: 12px;
    margin-top: -5px;
    margin-right: -4px;
}

.remove_confirmation {
    position: absolute;
    right: 8px;
    background-color: firebrick;
    color: #fff;
    padding: 0 5px;
    top: 9px;
}

.remove_confirmation:hover {
    cursor: pointer;
}

.log_tool:hover {
    cursor: pointer;
    color: #e6b113;
}

.tool_delete:hover {
    color: firebrick !important;
}

.log_tools span {
    margin-left: 3px;
}

.big_error_message_container {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.big_error_message_container:hover {
    cursor: pointer;
}

.big_error_message {
    position: fixed;
    background-color: firebrick;
    color: #fff;
    padding: 100px 0;
    font-size: 36px;
    text-align: center;
    font-family: monospace;
    z-index: 1002;
    width: 100%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    width: 100%;
}

.languages {
    float: right;
    margin-right: 20px;
    margin-top: 21px;
    color: #fff;
}


.mce-panel {
    border: 1px solid #dce4ec !important;
}

.dropdown-menu > li.inlinenew {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #7b8a8b;
    white-space: nowrap;
}

.help_toggle {
    cursor: pointer;
}

.dropdown-menu .inlinenew a {
    text-decoration: none !important;
}

.dropdown-menu .label-info:hover {
    background-color: #196ea7 !important;
}

.dropdown-menu .label-success:hover {
    background-color: #188e77 !important;
}

.msg_success_newlog, .msg_success_newperson, .msg_success_newcompany {
    position: fixed;
    top: 76px;
    left: 20px;
    background-color: green;
    color: #fff;
    padding: 20px;
    z-index: 100;
}

p.hint {
    font-size: 13px;
    padding: 2px 0px;
    color: #777;
}

li.disabled {
    color: #73899e;
    padding: 20px;
}

.person_name {
    text-align: center;
    margin-bottom: 25px;
    background-color: #f1f1f1;
    margin-top: 0px;
    padding: 15px 0;
}

.list-group-item {
    border: 0 !important;
    border-radius: 0 !important;
}

.clipboard:hover {
    cursor: pointer;
}

li.croptext {
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fordelete {
    text-align: center;
    background-color: rgba(204, 0, 0, 0.9);
    padding: 4px;
    z-index: 9;
    right: 27px;
    font-size: 12px;
    color: #fff;
}

.fordelete:hover {
    cursor: pointer;
}

.btn:focus {
    outline:0 !important;
}

.company_people {
    height: 91px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px dashed #e8e8e8;
    margin-bottom: 4px;
}

.shareme {
    font-size: 12px;
    color: #617488;
    margin-left: 4px;
}

.shareme:hover {
    color: #f39c12 !important;
}


a.sharer {
    color: #617488;
}

a.sharer:hover {
    background-color: #fff !important
}

.public {
    margin-top: 90px !important;
}

.author {
    position: absolute;
    margin-top: -70px;
    font-size: 32px;
}

.user_avatar_public {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 4px solid #d0d0d0;
    margin-top: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.public_link {
    border: 1px dashed #bbb;
    background-color: #ffdee1;
    font-family: MOnospace;
    font-size: 13px;
    padding: 1px 5px;
    margin-left: -5px;
    display: inline;
}

.public_link_remove {
    display: inline;
    margin-left: 8px;
    background-color: firebrick;
    color: #fff;
    padding: 2px 6px;
    font-size: 11px;
    position: relative;
    top: -1px;
    padding-bottom: 4px;
}

.public_link_remove:hover {
    cursor: pointer;
    background-color: #f94040;
}

.clickable:hover {
    cursor: pointer;
}

.header_logo {
    width: 133px;
    margin-top: -9px;
}

.footer_logo {
    width: 110px;
    margin-top: 1px;
}

.login_logo {
    width: 163px;
    padding-bottom: 16px;
}





@media (max-width: 768px) {
    #side_affix.affix {
        position: static !important;
        width: 100%;
        margin-bottom: 40px;
    }

    .custom_select_container .btn-group, .custom_select_container_company .btn-group, .custom_select_container_role .btn-group {
        width: 100% !important;
    }

    #icon_clear {
        top: 208px !important;
    }

    .public_link_remove {
        position: absolute !important;
        margin-left: 0 !important;
        margin-top: 43px !important;
        padding: 4px 10px !important;
    }

    .public_link {
        margin-left: 24px !important;
        line-height: 35px !important;
        padding: 3px 5px !important;
    }

    .author {
        font-size: 24px !important;
        margin-top: -56px !important;
    }

    .user_avatar_public {
        width: 40px !important;
        height: 40px !important;
        border-radius: 20px !important;
        border: 0 !important;
        margin-top: 0px !important;
        margin-bottom: 20px !important;
        margin-left: 0px !important;
    }

    .public {
        margin-top: 60px !important;
    }

    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label.public_content {
        margin-left: 60px !important;
    }
}