@import 'https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700';

html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #e0e5e7;
    font-size: 12px;
    z-index: 999;
}

.login_header {
    font-size: 53px;
    font-family: 'Ubuntu Condensed';
    color: #fff;
    background-color: #333;
    text-align: center;
    height: 150px;
    padding-top: 30px;
}

.vcenter {
    float: none;
    margin: 0 auto;
}

.about {
    margin-top: -15px;
    font-size: 13px;
}

.disclaimer {
    padding: 10px;
    font-size: 14px;
}

.opensource {
    background-color: #eee;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.login_providers {
    text-align: center;
    padding: 20px 0;
}

.login_providers a {
    width: 100px;
}


.logo_type {
    float: right;
    font-size: 31px;
    font-family: 'Ubuntu Condensed';
    margin-top: 5px;
    text-align: center;
}

.logo_type a {
    color: #333;
}

.logo_type a:hover {
    color: #e0e5e7;
    background-color: #333;
    text-decoration: none;
}

body {
    margin-bottom: 70px;
    /*background-image: url("/static/images/poly_bg.jpg");*/
    background-image: url("/static/images/pw_pattern.png");
    background-repeat: repeat;
}

.breadcrumb {
    margin-top: 12px;
    margin-bottom: 30px;
    border-width: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 0 1px;
}

img.user_avatar_header {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    border: 3px solid #8b9aa2;
    top: 3px;
    left: -38px;
    position: absolute;
    display: none;
}

img.user_avatar_menu {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 4px solid #8b9aa2;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

a.navbar-brand {
    font-size: 32px;
    letter-spacing: -1px;
    font-family: "Ubuntu Condensed";
    line-height: 18px;
}

.navbar {
    border-radius: 0 !important;
}

.navbar-defaulta {
    border-color: #73d6f4;
    background-color: #fff;
}

img.main_logo {
    width: 140px;
    margin-top: -5px;
}

img.footer_logo {
    margin-top: 11px;
    margin-right: 100px;
}

.navbar-form .form-control {
    background-color: #f3f3f3;
    width: 300px;
}

img.footer_logo-lab {
    margin-top: 20px;
}

.thumbnail_old {
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3)

    -webkit-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.3)
}

.thumbnail:hover {
    border-radius: 0;
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.3)
}


.container .text-muted {
    margin: 22px 0;
}

.calendar_icon {
    margin-top: 91px;
    position: absolute;
    right: 24px;
    font-size: 18px;
}

.calendar_icon:hover {
    cursor: pointer;
}

.end_date {
    
}

.hidden {
    display: none;
}

.divcontent {
    background-color: #fff;
    padding: 11px;
    padding-bottom: 5px;
}


img.cover_card {
    opacity: .9;
    background-color: #555;
    height: 150px !important;
}

img.avatar_card {
    position: relative;
    margin-top: -70px;
    border-radius: 60px;
    border: 4px solid white;
}

.has_people, .has_companies {
    margin-top: 5px;
}

.label {
    margin-right: 5px;
}

#icon_clear {
    margin-left: 270px;
    margin-top: 23px;
    position: absolute;
    z-index: 888;
}

#icon_clear:hover {
    cursor: pointer;
}

.label:hover {
    cursor: pointer;
}

#side_affix {
    position: static;
    margin-top: 0;
    width: 350px;
}

#side_affix.affix {
    position: fixed;
    top: 0;
    width: 350px;
}