body {
    background-image: none;
    background-color: #212121;
    color: #fdfdfd;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #8bc34a;
}

.navbar-default {
    background-color: #1b1b1b;
}

.shareme {
    color: #ffffff !important;
}

.footer {
    background-color: #1b1b1b;
}

.dropdown-menu {
    background-color: #1b1b1b !important;
    border-radius: 0 !important;
}

.dropdown-menu > li.inlinenew {
    color: #cacaca;
}

.timeline-icon {
    background: #1b1b1b;
    color: #737881;
    box-shadow: 0 0 0 4px #1b1b1b;
}

.timeline-label {
    background: #1b1b1b;
}

.log_date {
    background-color: #212121;
    color: #828282;
}

.log_tools {
    background-color: #1b1b1b;
    color: #dadada;
}

.form-control {
    border: 1px solid #1b1b1b !important;
}

.has-feedback .form-control {
    border: 2px solid #1b1b1b !important;
}

input {
    background-color: #101010 !important;
    color: #fff !important;
}

.custom_select {
    background-color: #101010 !important;
    border-color: #1b1b1b !important;
    color: #fff !important;
}

.custom_select:hover, .custom_select:active, .custom_select:focus {
    background-color: #131313 !important;
    border-color: #191919;
    color: #fff !important;
}

.open>.dropdown-toggle.btn-default {
    background: #101010 !important;
    color: #fff !important;
    border-color: #1b1b1b !important;
}

.custom_select_container .dropdown-menu, .custom_select_container_company .dropdown-menu,  .custom_select_container_role .dropdown-menu {
    background: #101010 !important;
    border-color: #1b1b1b !important;
}

.xdsoft_datetimepicker {
    background: #101010 !important;
    border-color: #1b1b1b !important;
}

.form_error {
    color: #ff9999 !important;
}

.person_name {
    background-color: #1b1b1b;
}

.list-group-item {
    background-color: #2d2d2d !important;
    border: 1px solid #ecf0f1 !important;
    color: #d4d4d4;
    border: 0 !important;
}

.thumbnail {
    background-color: #2d2d2d !important;
    border: 1px solid #2d2d2d !important;
}

.mce-fullscreen .mce-panel {
    background-color: #1b1b1b;
}

/* Timeline */

.timeline-label {
    background-color: #2d2d2d !important;
}

.timeline-label p {
    color: #d4d4d4 !important;
}

.timeline-label blockquote {
    border-left: 5px solid #404040 !important;
}

.timeline-label:after {
    border-color: transparent #2d2d2d transparent transparent !important;
}

.timeline-centered:before {
    background: #2d2d2d !important;
}

.timeline-icon {
    background: #2d2d2d !important;
    color: #cacaca !important;
    box-shadow: 0 0 0 4px #212121 !important;
}

.hl_mention_person {
    color: #ffffff !important;
    background-color: #769690 !important;
}

.hl_mention_company {
    color: #ffffff !important;
    background-color: #5c7e94 !important;
}

.hashtag {
    color: #ffffff !important;
    background-color: #4c4c2f !important;
}

.log_tools {
    background-color: #2d2d2d !important;
    color: #ececec !important;
}

.public_link {
    border: 1px dashed #a25151 !important;
    background-color: #561117 !important;
}

.loader {
    color: #8bc34a !important;
    background: #8bc34a;
}

.loader:after, .loader:before {
    background: #8bc34a;
}

.new_kind_form {
    background-color: #101010 !important;
    border: 2px solid #1b1b1b !important;
}

#icon_clear {
    background-color: #101010 !important;
    color: #7f2c2c !important;
}


/* TinyMCE */

.mce-container * {
    background: rgb(27, 27, 27) !important;
}

.mce-btn-group .mce-btn {
     border-color: #1b1b1b !important;
}

.mce-ico {
    color: #c7c7c7 !important;
}

.mce-btn-group:not(:first-child) {
    border-left: 1px solid #2b2b2b !important;
}

.mce-panel {
    border: 1px solid #1b1b1b !important;
}

.mce-label {
    text-shadow: none !important;
    color: #efefef !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #8bc34a;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #8bc34a;
}

.dropdown-menu>li>a {
    color: #f3f3f3;
}

.user_options_header {
    background-color: #1b1b1b !important;
}

.dropdown-menu .divider {
    background-color: #0e0e0e !important;
}
